body{
    background-color:rgb(241, 241, 241);
}

p{ 
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.headLine{
    font-size: 60px;
    background-color: rgb(31, 81, 90);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:20px;
    text-align: center;
}

.img1{
    float:left;
    width: 500px;
    height: 400px;
}

h2{
    font-size: 30px;
    background-color: rgb(31, 81, 80);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 425px;
    margin-left: 0px;
    margin-bottom: 10px;
}

p2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 30px;
    background-color: rgb(31, 81, 80);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

p3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-size: 30px;
    background-color: rgb(31, 81, 80);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 10px;

}

p4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h5{
    font-size: 30px;
    background-color: rgb(31, 81, 80);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

p5{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    font-size: 30px;
    background-color: rgb(31, 81, 80);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

p6{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
s